.footer {
    bottom: 0;
    background: rgb(194,49,21);
    background: linear-gradient(171deg, rgba(194,49,21,1) 0%, rgba(85,16,39,1) 100%);
    padding: 35px 0;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}