.tenracs-container {
    padding: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    cursor: default;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #C23115;
}

.card-body p {
    margin: 10px 0;
    color: #333;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.edit-btn, .delete-btn {
    background-color: #C23115;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #a02812;
}

.add-tenrac-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 400px;
}

.add-tenrac-form h2 {
    margin-bottom: 20px;
}

.add-tenrac-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-tenrac-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-tenrac-form button {
    background-color: #C23115;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-tenrac-form button:hover {
    background-color: #a02812;
}

/* Style de la modale */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #C23115;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    color: #C23115;
    margin-bottom: 20px;
}
